.banner {
    height: 100vh;
    width: 100%;
    background: url(wallpaperflare.com_wallpaper.jpg);
}

.banner > ul{
    width: 100%;
    text-align: justify;
    padding-right: 20px;
    padding: 20px;
    line-height: 1hv;
    margin-left: 800px;
}

.banner > ul > li{
    display: inline-block;
    margin: 10px 30px;
    color: aliceblue;
    position: relative;
}

.banner > ul > li::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: aliceblue;
    transition: width 0.3s;
}
.banner ul > li:hover::after{
    width: 50%;
}