.et {
    color: white;
    background-image:url(wallpaperflare.com_wallpaper.jpg);
    height: 100vh;
    width: 100%;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    display: flex;
    align-items: center;
    padding: 20%;
    position: relative;
    display: inline-block;
}

.navbar ul  li a{
    text-align: none;
    color: #fff;
}

navbar ul li:hover::after {
    width: 100%;
}